// 覆盖scss变量
$warning-color: yellow;
$success-color: green;
$danger-color: red;
$info-color: blue;
$button-bg: pink;

// 亮色主题
$primary-bg: #f1f1f1;
$secondary-bg: #f5f5f5;

// 暗色主题
$primary-bg-dark: #1a1a1a;
$secondary-bg-dark: #2c2c2c;